body {
  font-family: monospace;
  background-color: brown;
  color: rgb(0, 0, 0);
  padding: 2px;
}
#get{
  font-family: monospace;
  display: flex;
  width: 100%;
  justify-content: center;

}
#facts{
  font-family: monospace;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: white;

}

h1, h2 {
  text-align: center;
}
#write{
  font-family: monospace;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: white;
  text-align: center;
}

